.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
}
.error h1{
    font-size: 100px;
    color: crimson;
}
.error p{
    font-size: 40px;
}