main{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;  
  } 
  
  .main-news-section{ 
    display: grid;
    gap: 10px; 
    grid-template-columns: repeat(2, 1fr); 
  }